<nav class="site-nav">
    <div class="site-nav-left">
        {{^is "home"}}
            {{#if @blog.logo}}
                <a class="site-nav-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
            {{else}}
                <a class="site-nav-logo" href="{{@blog.url}}">{{@blog.title}}</a>
            {{/if}}
        {{/is}}
        {{#if @blog.navigation}}
            {{navigation}}
        {{/if}}
    </div>
    <div class="site-nav-right">
        <div>
            <input id="search-field" type="text" placeholder="内容" />
            <div id="search-submit"></div>
        </div>
    </div>
</nav>
<div class="results-mask" id="results-mask">
    <section id="results"></section>
</div>
